div#seconds {
    color: #607d8b5e;
}

div#yourbestext {
    font-size: 22;
}

img {
    margin-right: 2px;
    /* margin-top: -20px; */
}
h1 {
    color: white;
    letter-spacing: 7px;
    text-shadow: 1px 1px 10px #607D8B;
}

		
body {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: column;
			-ms-flex-flow: column;
			text-align: right;
			flex-flow: column;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			align-text: right;
			justify-content: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
			color: #647f94d4;
			background: #02000008;
			background: white;
			/* margin: 10px; */
			/* font-weight: bold; */
		}
		.scorearea {
			/* display: -webkit-flex; */
			display: -ms-flexbox;
			/* display: flex; */
			-webkit-flex-flow: row;
			margin-bottom: 8px;
			margin-left: 8px;
			-ms-flex-flow: row;
			/* flex-flow: column; */
			-webkit-justify-content: flex-start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
		}
		.label {
			margin-right: 20px;
			font-size: 16px;
			/*margin-top: 7px;*/
			color: #637f9470;
		}
		.score {
			/* border: 2px solid green; */
			/* padding: 10px; */
			/* text-align: center; */
			height: 40px;
			text-align: left;
			/* width: 100px; */
			line-height: 40px;
			color: #607d8b99;
			font-size: 32px;
			/* border-top-right-radius: 5px; */
			/* border-top-left-radius: 5px; */
			/* background-color: rgb(85, 104, 255); */
		}
		.gamearea {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: column;
			-ms-flex-flow: column;
			flex-flow: column;
			/* border: 20px solid rgb(28, 175, 11); */
			border-: 4px;
			height: 400px;
			width: 400px;
			background: white;
			border-radius: 4px;
			/* background: linear-gradient(45deg, #e7f1f9, white, #e7f1f9); */
			box-shadow: 2px 2px 20px 7px #607d8b0f;
		}
		.gamearea>.top {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: row;
			-ms-flex-flow: row;
			flex-flow: row;
			-webkit-justify-content: space-around;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			align-items: center;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			/* background: linear-gradient(45deg, #3d9eec, white, #ffffff); */
			margin-top: 84px;
			/*border: 1px solid black;*/
		}

		.gamearea>.top>.leftbox,  .gamearea>.top>.rightbox{
			/*height: 100%;*/
			height: 100px;
			width: 100px;
			border: 2px solid #607d8bc4;
			border-radius: 5px;
			font-size: 50px;
			/* background-color: rgb(70, 177, 121); */
			color: #647f94c2;
			position: relative;
			/* box-shadow: -1px 1px 24px 0px rgba(0,0,0,0.75); */
		}
		.gamearea>.middle {
			-webkit-flex: 0.5;
			-ms-flex: 0.5;
			    flex: 0.5;
		}
		.gamearea>.top>.bottom {
			/*-webkit-box-flex: 1;
			-webkit-flex: 1;
			    -ms-flex: 1;
			        flex: 1;*/
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			    justify-content: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			    align-items: center;
			/*border: 1px solid red;*/
			height: 100px;
			width: 100px;
		}
		.gamearea>.top>.bottom>.current {
			height: 70px;
			width: 70px;
			text-align: center;
			border: 2px solid #607d8bc9;
			border-radius: 100px;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			font-size: 40px;
			/* background-color: rgb(255, 87, 87); */
			color: #607d8bd6;
			/* box-shadow: -1px 9px 24px 2px rgba(0,0,0,0.75); */
}
		.exceeded8,.timesup {
			background: rgba(0,0,0,0.5);
			position: fixed;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
		}
		.exceeded8text, .timesuptext {
			position: relative;
			top: 50%;
			left: 50%;

			color: white;
		}
		.invisible {
			display: none;
		}

		.timearea {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: row;
			    -ms-flex-flow: row;
			        flex-flow: row;
			-webkit-justify-content: space-around;
			    -ms-flex-pack: distribute;
			        justify-content: space-around;
			-webkit-align-items: center;
			-ms-flex-align: center;
			    align-items: center;
		}
		.time {
			font-size: 32px;
			color: #607d8b99;
			/* margin-right: 10px; */
		}
		.topsection {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: row;
			    -ms-flex-flow: row;
			        flex-flow: row;
			-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
			    justify-content: space-between;
			width: 400px;
			/*border: 2px solid red;*/
		}
		
		.plus {
			position: absolute;
			left: 0;
			top: 70%;
			font-size: 24px;
			color: rgba(0,0,0,0);
		}
		#ltext, #rtext {
			position: relative;
			height: 100px;
			width: 100%;
			line-height: 100px;
			text-align: center;

		}


		@-webkit-keyframes anim {
			0% {color: #647f94; top: 70%;}
			100% {color: rgba(0,0,0,0); top: 0;}
		}


		@keyframes anim {
			0% {color: #647f94; top: 70%;}
			100% {color: rgba(0,0,0,0); top: 0;}
		}
		.anim {
			-webkit-animation : anim 1s;
			        animation : anim 1s;
		}

		@-webkit-keyframes kaboom {
			0% {width: 70px; height: 70px; font-size: 40px;}
			50% {width: 75px; height: 75px; font-size: 44px;}
			100% {width: 70px; height: 70px; font-size: 40px;}

		}

		@keyframes kaboom {
			0% {width: 70px; height: 70px; font-size: 40px;}
			50% {width: 75px; height: 75px; font-size: 44px;}
			100% {width: 70px; height: 70px; font-size: 40px;}

		}

		.kaboom {
			-webkit-animation: kaboom 0.1s;
			        animation: kaboom 0.1s;
		}

		@-webkit-keyframes fontkaboom {
			0% {font-size: 18px;}
			50% {font-size: 24px;}
			100% {font-size: 18px;}
		}

		@keyframes fontkaboom {
			0% {font-size: 24px;}
			50% {font-size: 26px;}
			100% {font-size: 28px;}
		}

		.fontkaboom {
			-webkit-animation: fontkaboom 0.1s;
			        animation: fontkaboom 0.1s;
		}
		.middle {
			font-size: 20px;
			line-height: 40px;
			height: 40px;
			width: 30%;
			text-align: center;
			border-radius: 4px;
			background: linear-gradient(45deg, #3d9eec, white, #ffffff);
			color: rgba(0,0,0,0);
		}

		@-webkit-keyframes boomdissapear {
			0% {font-size: 20px; color: #607D8B;}
			50% {font-size: 26px; color: #607D8B;}
			100% {font-size: 26px; color: rgba(255,255,255,0);}
		}

		@keyframes boomdissapear {
			0% {font-size: 20px; color: #607D8B;}
			50% {font-size: 26px; color: #607D8B;}
			100% {font-size: 26px; color: rgba(255,255,255,0);}
		}
		.boomdissapear {
			-webkit-animation: boomdissapear 0.5s;
			        animation: boomdissapear 0.5s;
		}

		@-webkit-keyframes colordissapear {
			0% {color: rgba(255,100,100,1);}
			100% {color: white;}
		}

		@keyframes colordissapear {
			0% {color: rgba(255,100,100,1);}
			100% {/* color: #607D8B; */background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); 			-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Standard syntax (must be last) */}
		}
		.colordissapear {
			-webkit-animation: colordissapear 0.5s;
			        animation: colordissapear 0.5s;
		}
		.instructions {
			width: 200px;
			height: 400px;
			padding: 5px;
			margin-right: 32px;
			letter-spacing: 0.5;
			font-family: sans-serif;
		}

		.bottomsection, .topseccontainer {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: row;
			    -ms-flex-flow: row;
			        flex-flow: row;
			-webkit-justify-content: space-around;
			    -ms-flex-pack: distribute;
			        justify-content: space-around;
		}
		#dummy {
			width: 200px;
		}

		.footer {
			background-color: #FF0000;
			height: 30px;
			line-height: 30px;
			padding: 10px;
			color: white;
			cursor: pointer;
			position: fixed;
			top: 60%;
			left: 50%;
			font-size: 25px;
		}
		color {
			color: rgba(255,100,100,1);
		}
		.stats {
			display: -webkit-flex;
			display: -ms-flexbox;
			/* padding-left: 21px; */
			display: flex;
			-webkit-flex-flow: column;
			-ms-flex-flow: column;
			flex-flow: column;
			/* justify-content: center; */
			padding: 16px;
			width: 200px;
		}
		.userbest,.best {
			/* padding: 5px; */
			padding-top: 5px;
			padding-bottom: 5px;
			width: 100%;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: row;
			-ms-flex-flow: row;
			flex-flow: row;
			height: 40px;
			line-height: 40px;
			margin-top: 8px;
			/* color: #607D8B; */
			background-color: rgb(255, 255, 255);
			text-align: center;
			border-radius: 10px;
			/* margin: 10px; */
			border: 1px solid;
			/* border-color: red; */
			justify-content: center;
			/* border-right: 2px; */
			text-align: center;
			border-color: #607d8b3b;
			background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
			background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
			background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
			background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
			-webkit-background-clip: text;
			/* -webkit-text-fill-color: transparent; */
			/* box-shadow: -1px 9px 24px 2px rgba(0,0,0,0.75); */
		}
		#userbest, #best {
			margin-left: 5px;
			min-width: 40px;
			font-size: 24px;
			/* background: white; */
			text-align: center;
		}

		#dummy2, #dummy {
			width: 200px;
		}
		@media screen and (max-width:800px) {
			.label { 
				font-size:12px;
				margin-top: 7px;
			}
			.stats {
				-webkit-order: 2;
				-ms-flex-order: 2;
				    order: 2;
			}
			#dummy {
				display: none;
			}
			.bottomsection {
				width: 80%;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-flow: column;
				    -ms-flex-flow: column;
				        flex-flow: column;
				/*border: 1px solid red;*/
			}
			#dummy2 {
				display: none;
			}
			.topseccontainer {
				width: 80%;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
				    justify-content: space-between;
			}
			.topsection {
				/*width: 80%;*/
				border: 0px;
				overflow-x: hidden;
			}
			.instructions {
				width: auto;
				-webkit-order: 3;
				-ms-flex-order: 3;
				    order: 3;
				 /*width: 80%;*/
			}
			.gamearea {
				width: auto;
				height: 300px;
				-webkit-order: 1;
				-ms-flex-order: 1;
				    order: 1;
				/*width: 80%;*/
				overflow-x: hidden;
			}

			.gamearea>.top>.leftbox,  .gamearea>.top>.rightbox{
				width: 70px;
				height: 70px;
			}
			#cur {
				width: 70px ;
				height: 70px ;

			}
			.topseccontainer {
				width: 80%;
				border: 0px;
				margin: 0px;
			}
			#ltext, #rtext {
				position: relative;
				height: 70px;
				width: 100%;
				line-height: 70px;
				text-align: center;

			}
			#seconds {
				font-size: 12px;
			}
			.score {
				/* border: 2px solid green; */
				/* padding: 10px; */
				text-align: left;
				height: 30px;
				width: 60px;
				/* line-height: 30px; */
				font-size: 40px;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
				/* background-color: rgba(197, 175, 91, 1); */
			}
			div#yourbestext {
				text-align: left;
			}	
			.exceeded8text, .timesuptext {
				left: 0;
			}

			.footer {	
				font-size: 22px;			
				bottom: 0;
				left: 40%;
			}
			.gamearea {
				/* border:2px solid rgb(28, 175, 11); */
			}
		}



